/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/* Header Section */
.header {
    width: 100%;
    height: 100vh;
    background-image: url('weak hero class 1.jpeg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Navigation Bar */
nav {
    background-color: #f4f5fb;
    color: black;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    width: 300px;      /* Adjust size as needed */
    height: auto;
}

/* Container for logo + school name */
.logo-section {
    display: flex;
    align-items: center;
}

/* Logo Image */
.logo-img {
    width: 300px;      /* Change size if needed */
    height: auto;
    margin-right: 20px; /* Space between logo and text */
    
}

/* School Name beside logo */
.logo-text {
    color: white;
    font-size: 28px;
    font-weight: bold;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: yellow;
}

/* Hero Section Text */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-text h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background:transparent;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    border:1px;
    transition:1s;
    background: #e9bc05;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links{
        position:absolute;
        background: yellowgreen;
        height: 100vh;
        width:-200px;
        top:0;
        right:0;
        text-align:left;
        z-index:2;
        transition:0.4s;
    }
    .nav-links.active{
        right:0;
    }
}

/* Course */

.course{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}
h1{
   font-size: 36px;
   font-weight: 600; 
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; 
    padding: 10px;

}
